@media (max-width: 600px){
    .content-product{
        width: 100%;
        display: block;
        padding: 10px 0;

    }
    .product-img img{
        margin: auto;
        display: block;
    }
}