@media (max-width: 600px){
    .header-container{
        width: 100%;
    }
}

@media (max-width: 414px){
    .header-logo{
        float: none;
        display: block;
    }
    .header-menu{
        float: none;
        display: table;
    }
    .header-menu li{
        display: block;
    }
}